@import "~webext-base-css/webext-base.css";

@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

#popup {
  min-width: 350px;
  padding: 30px 20px;

  h2 {
    text-align: center;
    color: hotpink;
    font-weight: bold;
    font-family: 'Tangerine';
    font-size: 200%;
  }

  #main__activity {
    ul {
      display: flex;
      margin-top: 1em;
      justify-content: space-around;

      li {
        button {
          border-radius: 25px;
          font-size: 20px;
          font-weight: 600;
          padding: 10px 17px;
          cursor: pointer;
        }
      }
    }
  }

  #links__holder {
    ul {
      display: flex;
      margin-top: 1em;
      justify-content: space-around;

      li {
        button {
          width: 100%;
          font-weight: 500;
          border-radius: 15px;
          padding: 5px 10px;
          justify-content: center;
          margin: 20px auto;
          cursor: pointer;
          opacity: 0.8;
          display: flex;
        }
      }
    }
  }
}